{% extends 'users/base.html' %}
{% block title %}Add a New Place{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card shadow-lg border-0">
            <div class="card-body p-4">
                <h2 class="card-title text-center mb-4">Add a New Place</h2>
                
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">{{ form.name.label }}</label>
                            {{ form.name }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">{{ form.contact_info.label }}</label>
                            {{ form.contact_info }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label class="form-label">{{ form.type.label }}</label>
                            {{ form.type }}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="form-label">{{ form.sub_type.label }}</label>
                            {{ form.sub_type }}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="form-label">{{ form.price_level.label }}</label>
                            {{ form.price_level }}
                        </div>
                    </div>
                     <div class="mb-3">
                        <label class="form-label">{{ form.address.label }}</label>
                        {{ form.address }}
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">{{ form.latitude.label }}</label>
                            {{ form.latitude }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">{{ form.longitude.label }}</label>
                            {{ form.longitude }}
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">{{ form.description.label }}</label>
                        {{ form.description }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">{{ form.tags.label }}</label>
                        {{ form.tags }}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.photos.id_for_label }}" class="form-label">Upload Photos</label>
                        {{ form.photos }}
                    </div>
                    
                    <div class="d-grid mt-4">
                        <button type="submit" class="btn btn-primary">Submit Place</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}